<div>
    <div style="min-width: 100px ;display: inline-block">
        <img class="img-circle media-object pull-left" ng-src="{{_ctrl.oponentUser.photo_100}}">
        <strong>{{_ctrl.oponentUser.first_name}} {{_ctrl.oponentUser.last_name}}</strong>
    </div>
    <div>
        <ul class="list-group" ng-if="!_ctrl.isProcessingMessages" style="min-width:50%; display: inline-block">
            <li class="list-group-item" ng-repeat="message in _ctrl.messages.items track by $index"
                ng-class="{'incoming-message': message.from_id == _ctrl.oponentUser.id, 'outgoing-message': message.from_id == _ctrl.currentUser.id}">
                <div class="media-body">
                    <p>{{message.body}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div style="min-width: 100px ;display: inline-block">
        <img class="img-circle media-object pull-left" ng-src="{{_ctrl.currentUser.photo_100}}">
        <strong>{{_ctrl.currentUser.first_name}} {{_ctrl.currentUser.last_name}}</strong>
    </div>
</div>