.loader{
    min-width: 65px;
    min-height: 65px;
    background-image: url("../img/preloader.gif");
    background-repeat: no-repeat;
}
.incoming-message{
    background-color: #999999;
}
.outgoing-message{
    background-color: #6db3fd;
}

.seekBase {
    height: 30px;
    width: 90%;
    border: 1px solid #cccccc;
}
.seekLoad {
    height: 30px;
    width: 0;
    background-color: #E0EAF1;
}

li {
    cursor: pointer;
}